/* Resets */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

div#colonne1 {
	float: left;
	width: 33%;
	margin-right: 10px;
	background: lightblue;
}
div#colonne2 {
	float: right;
	width: 33%;
	margin-left: 10px;
	background: burlywood;
}
div#centre {
	overflow: hidden;
	background: khaki;
}