/* Coolors Exported Palette - https://coolors.co/c1bdb3-2d2d2a-353831-38423b-3f5e5a */

/* SCSS HEX */
$pale-silver: #c1bdb3ff;
$jet: #2d2d2aff;
$black-olive: #353831ff;
$kombu-green: #38423bff;
$dark-slate-gray: #3f5e5aff;

/* SCSS HSL */
$pale-silver: hsla(43, 10%, 73%, 1);
$jet: hsla(60, 3%, 17%, 1);
$black-olive: hsla(86, 7%, 21%, 1);
$kombu-green: hsla(138, 8%, 24%, 1);
$dark-slate-gray: hsla(172, 20%, 31%, 1);

/* SCSS RGB */
$pale-silver: rgba(193, 189, 179, 1);
$jet: rgba(45, 45, 42, 1);
$black-olive: rgba(53, 56, 49, 1);
$kombu-green: rgba(56, 66, 59, 1);
$dark-slate-gray: rgba(63, 94, 90, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #c1bdb3ff, #2d2d2aff, #353831ff, #38423bff, #3f5e5aff);
$gradient-right: linear-gradient(90deg, #c1bdb3ff, #2d2d2aff, #353831ff, #38423bff, #3f5e5aff);
$gradient-bottom: linear-gradient(180deg, #c1bdb3ff, #2d2d2aff, #353831ff, #38423bff, #3f5e5aff);
$gradient-left: linear-gradient(270deg, #c1bdb3ff, #2d2d2aff, #353831ff, #38423bff, #3f5e5aff);
$gradient-top-right: linear-gradient(45deg, #c1bdb3ff, #2d2d2aff, #353831ff, #38423bff, #3f5e5aff);
$gradient-bottom-right: linear-gradient(135deg, #c1bdb3ff, #2d2d2aff, #353831ff, #38423bff, #3f5e5aff);
$gradient-top-left: linear-gradient(225deg, #c1bdb3ff, #2d2d2aff, #353831ff, #38423bff, #3f5e5aff);
$gradient-bottom-left: linear-gradient(315deg, #c1bdb3ff, #2d2d2aff, #353831ff, #38423bff, #3f5e5aff);
$gradient-radial: radial-gradient(#c1bdb3ff, #2d2d2aff, #353831ff, #38423bff, #3f5e5aff);
